// portrait phones and smaller & landscape phones
// @media (max-width: 767.98px){
//   .top-header .row .col-12 {
//     text-align: center;
//   }
// }
// medium devices (tablets)
@media (max-width: 991.98px) { 
  .top-header .row .col-12 {
    text-align: center;
  }
  .welcome{
    .header_welcome{
      width: 100%;
      margin: 0%;
      h2{
        font-size: 20px;
      }
    }
    .content_welcome{
      .fa-solid, .fas{
        font-size: 20px;
      }
      h3, p{
        font-size: 17px;
      }
    }
  }
  .popularOnlineCourses{
    background-color: $Secondary_bg_color;
    padding:35px;
    .cards{
      .card{
        margin: 5px;
        .card-img-top{
          height: 180px;
        }
        .card-text{
          font-size: 14px;
        }
        .btn{
          font-size: 14px;
        }
      }
    }
    .footer_pop .btn{
      margin: 13px;
    }
  }
}
// `xl` applies to large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
// @media (max-width: 1399.98px) { ... }